.gradle
.DS_Store
/build/
!gradle/wrapper/gradle-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr
/out/
/target/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/